.change-password-btn {
    border-radius: 50px; 
  }
  
.change-password-modal{
    border-radius: 40px; 
    color: black;
}

.rounded-btn {
    border-radius: 20px ;  
}

.change-password-modal .modal-dialog {
    border-radius: 10px; 
}

.change-password-modal {
    border-radius: 30px;
}
.change-password-modal .form-label {
    color: black; 
}

@media (max-width: 768px) {
    .change-password-btn {
      padding: 0.25rem 0.5rem; 
      font-size: 0.875rem; 
    }
  }
  
