.toast-container {
    background-color:  #f3e8d7; 
    color: black; 
    top: 50, 

}

.toast-header {
    background-color: white;
    color: black;
}

.toast-body {
    background-color: white;
    color: black;
    border-radius: 50px;
}

@media (max-width: 480px) {
    .toast-container, .toast-body, .toast-header {
        right: 20px; 
        top: 2px; 
    }
}
