.content-card{
    margin: 50px 25px 0px 25px;
    width: 20rem;
    height: 500px;
    background: var(--white);
    box-shadow: 2px 2px 0.5rem darkgrey;
    border-radius: 3rem;
}

@media (max-width: 680px) {
    .content-card{
        margin: 0 0 25px 0;
    }
}

.body-section{
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
}

.body{
    position: absolute;
    bottom:0;
    padding: 1rem 2rem 2rem 2rem;
    height: 100%;
    width: 90%;
    border-radius: 3rem;
}

.content-text{
    height: 85%;
    text-align: left;
    overflow: hidden;
}

.header{
    display: block;
    justify-content: center;
    text-align: center;
}

.title{
    margin: 0 3rem 0.5rem 3rem;
}

.user-name{
    margin: 0 auto;
    font-size: 0.8rem;
}

.options{
    padding: 0;
    height: 10px;
    width: 100%;
    display: flex;
    justify-content: right;
}

.icon-dropdown-toggle::after {
    display: none;
}

.dropstart .dropdown-toggle::before {
    display: none;

}

.dropdown-menu{
    position: absolute;
    right: 40px;
    min-width: 115px;
    padding: 0;
    z-index: 5;
}

.option{
    text-decoration: none;
    text-align: center;
}

.read-more{
    font-size: 0.8rem;
    display: inline-flex;
    align-items: center;
    height: 1.2rem;
    border-radius: 0.6rem;
    box-shadow: 2px 2px 0.5rem black;
}

.footer{
    margin: auto;
    position: relative;
    width: 80%;
    border: 0;
    display: inline-flex;
    justify-content: space-between;
}

#options-btn{
    background: none;
    appearance: none;
    outline: none;
    border: none;
    color: black;
}

.media-btn{
    display: inline-flex;
    color: var(--brown);
    padding: 0.5rem 0 0.5rem 0.5rem;
    margin: 0;
    text-decoration: none;
    justify-content: space-evenly;
}

.media-btn span{
    font-size: 0.8rem;
    margin-left:2px;
}